@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Anton);

body { 
  font-family: 'Droid Serif'; 
  margin: 0;
}
.header {
  background: #272822;
  border-bottom: 4px solid #DF7A5C;
}
.header .content {
  padding: 5em 0;
  text-shadow: 0 -1px 1px #262626;
  position: relative;
  text-align: center;
}
.header .content .gray {
  color: #777872;
}
.header h1 {
  color: #f3f3f3;
  font-size: 4em; 
  line-height: 0.8em;
  margin-top: 0.5em;
}
.header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  bottom: -4px;
  position: absolute;
}
.header ul li {
  background: rgba(55,56,50, 0.75);
  display: inline-block;
  font-family: 'Yanone Kaffeesatz';
  font-size: 1.8em; 
  padding: 0.2em 0.5em;
  margin-left: 0.1em;
}
.header ul li:first-child {
  margin-left: 0;
}
.header ul li:hover {
  background: rgba(75,76,70, 0.9);
}
.header ul li.active {
  background: #fff;
  
  text-shadow: none;
}
.header ul li a {
  color: #fff;
  text-decoration: none;
}
.header ul li.active a {
  color: #000;
}
.content, [data-tab] {
  margin: 0 auto;
  width: 960px;
}
[data-tab] {
  display: none;
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}

#wrapper {
  height: 370px;
  position: relative;
}
#editor { 
  font-size: 14px;
  width: 45%;
  height: 100%;
}
#slideshow {
  font-size: 20px;
  width: 54%;
  height: 100%;
  background: #d7d7d7;
  position: absolute;
  right: 0;
  border: 1px solid #aaa;
  overflow: hidden;
}
