<!DOCTYPE html>
<html>
  <head>
    <title>My Awesome Presentation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

      body { font-family: 'Droid Serif'; }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
      }
      .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
    </style>
  </head>
  <body onload="var slideshow = remark.create();">
    <textarea id="source">

class: center, middle

# My Awesome Presentation

---

# Agenda

1. Introduction
2. Deep-dive
3. ...

[NOTE]: This file is portable; you don't need any other file, or an internet connection for this presentation.
---

# Introduction

    </textarea>
    <script type="text/javascript">
      document.write(unescape("%3Cscript type='text/javascript'%3E" + "%REMARK_MINJS%" + "%3C/script%3E"));
    </script>
  </body>
</html>
