<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/monokai.min.css"/>
  </head>
  <body>
    <div class="header">
      <a href="https://github.com/gnab/remark"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
      <div class="content">
        <h1>remark</h1> 
        <p class="gray">[ri-mahrk]</p>
        <ul class="tabs">
          <li><a href="/">Home</a></li>
          <li><a href="/download.html">Download</a></li>
          <li><a href="/documentation.html">Documentation</a></li>
          <li><a href="https://github.com/gnab/remark">Source</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="/js/remark-0.5.0.min.js"></script>
    <script type="text/javascript" src="/js/highlight-7.3.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript">
      app.load(); 
    </script>
  </body>
</html>
