html, body {
  background: #d7d7d7;
  font-family: Georgia;
  font-size: 20px;
  overflow: hidden;
}
#slideshow {
  background: #fff;
  position: absolute;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  transform-origin: top-left;
}
#slideshow .slide > .center {
  text-align: center;
}
#slideshow .slide .content .center {
  display: block;
  text-align: center;
}
#slideshow .slide > .middle {
  vertical-align: middle;
}
#slideshow .slide {
  display: none;
  float: left;
  height: 100%;
  overflow: hidden;
  width: 100%;
  -moz-box-shadow: 0 0 30px #888;
  -webkit-box-shadow: 0 0 30px #888;
  box-shadow: 0 0 30px #888;
}
#slideshow .slide .content {
  display: table-cell;
  padding: 1em 4em 1em 4em;
}
#slideshow .slide .content pre {
  font-family: Monaco, monospace;
  font-size: 16px;
}
#slideshow .slide .content code {
  font-family: Monaco, monospace;
  font-size: 16px;
}
#slideshow .slide .content h1 code {
  font-size: 0.8em;
}
#slideshow .slide .content .position {
  bottom: 12px;
  color: #888;
  position: absolute;
  right: 20px;
}
p > code {
  padding: 1px 4px;
}
